<app-header></app-header>

<section>
	<div class="height50"></div>
	<div class="shadow-sm p-0-xs white-box mt-5">
		<div class="container-fluid">
			<div class="row text-center">
			  	<div class="col-md-2">
					<a href="javascript:void(0)" routerLink="/booking" >
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/activation.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Activity</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)" routerLink="/transaction">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/transaction.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Transaction</h5>
				  		</div>
			  		</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)" routerLink="/orders">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/orders.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Orders</h5>
				  		</div>
			  		</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)" routerLink="/customers">
			  			<div class="bg-light p-3 shadow-sm">
			  				<div class="height10"></div>
			  				<img src="assets/images/customers.png" class="h-max-100">
			  				<div class="height20"></div>
			  				<h5 class="text-body font-18">Customers</h5>
			  			</div>
			  		</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/reporting.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Reporting</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/cash-log.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Cash Log</h5>
				  		</div>
				  	</a>
			  	</div>
			</div>
			<div class="height20"></div>
			<div class="row text-center">
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/setup.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Setup</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/printers.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Printers</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/help.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Help</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/notes.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Notes</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<!-- <div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/tables.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Tables</h5>
				  		</div>
				  	</a>
			  	</div> -->
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/card-transaction.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Card Transaction</h5>
				  		</div>
				  	</a>
			  	</div>
			</div>
			<div class="height20"></div>
			<!-- <div class="row text-center">
			  	<div class="col-md-2">
			  		<a href="javascript:void(0)">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/happy-hour.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Happy Hour</h5>
				  		</div>
				  	</a>
			  	</div>
			  	<div class="col-md-2">
			  		<a href="ticket-view.php">
				  		<div class="bg-light p-3 shadow-sm">
				  			<div class="height10"></div>
				  			<img src="assets/images/tickets.png" class="h-max-100">
				  			<div class="height20"></div>
				  			<h5 class="text-body font-18">Tickets</h5>
				  		</div>
				  	</a>
			  	</div>
		  	</div> -->
		</div>
	</div>
</section>