<app-header></app-header>
<div id="content-wrapper">

        <div class="container-fluid" style="padding-top: 7%;">
    
          <div class="card mb-3">
              <div class="card-header">
                <span><i class="fa fa-list" aria-hidden="true"></i> <b>Orders</b> </span>
                <button type="button" routerLink="/dashboard" class="btn pull-right btn-success">Back</button>
              </div>
              <div class="card-body">
                 <table  style="margin-top: 20px;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order</th>
                      <th>Status</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Demo</td>
                      <td>Completed</td>
                      <td>$100.00</td>
                    </tr>
                    <tr *ngIf="sub_menu == ''">
                      <td colspan="4">No item found.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        </div>
      </div>
    