<ul class="left-menu">
    <li class="left-menu-box"  routerLinkActive="active">
      <a href="javscript:void(0)" routerLink="/booking">
        <img src="assets/images/booking.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Booking</h6>
      </a>
    </li>
    <li class="left-menu-box"  routerLinkActive="active">
      <a href="javscript:void(0)" routerLink="/mainmenu">
        <img src="assets/images/menu.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Menu</h6>
      </a>
    </li>
    <li class="left-menu-box">
      <a href="javscript:void(0)">
        <img src="assets/images/kids-food.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Kids Food</h6>
      </a>
    </li>
    <li class="left-menu-box">
      <a href="javscript:void(0)">
        <img src="assets/images/drinks.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Drinks</h6>
      </a>
    </li>
    <li class="left-menu-box">
      <a href="javscript:void(0)">
        <img src="assets/images/activity.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Activity</h6>
      </a>
    </li>
    <li class="left-menu-box">
      <a href="javscript:void(0)">
        <img src="assets/images/settings.png" class="l-menu-icon">
        <h6 class="l-menu-txt">Settings</h6>
      </a>
    </li>
    <div class="height10"></div>
		<button class="btn btn-danger">Help</button>
  </ul>